* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --white:#fff;
    --blue:#2E45BC;
    --green:#00602A;
}



html {
    font-size: 62.5%;
}

body {
    font-family: 'Jura', sans-serif;
}

.header__container {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 640px;
    margin: 0 auto;
    background-image: url(/media/photos/arcos3\ 1.jpg);
}

.floating {
    width: 25%;
    height: 55px;
    background-color: var(--white); opacity: 60%;
    font-size: 2.4rem;
    border-radius: 0px 0px 10px 10px;
    text-align: center;   
}


.floating li {
    list-style: none;
}


.header__title {
    text-align: center;
    padding: 30px;
    margin-top: 65px;
}

.header__title h1 {
    font-size: 4rem;
    line-height: 150%;
    color: var(--white);
}

.header__container a {
    text-decoration:none;
    font-size: 1.5rem;
}



.card__container {
    width: 310px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: -60px;
    /* background-image: url(/media/photos/arquera\ 1.jpg); */
    background-repeat: no-repeat;
    border-radius: 10;
    margin-bottom: 250px;
}

.card__container img {
    width: 313px;
    height: 354px ;
    border-radius: 10px;
}


.card {
    display: flex;
    flex-direction: column;
    width: 256px;
    min-height: 270px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-color: var(--white); 
    border-radius: 10px;
    top: -60px;
    box-shadow:  0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    align-items: center;
    justify-content: center;
    
}   


.card h2 {
    font-size: 2.4rem;
}

.card p {
    font-size: 1.8rem;
    margin-top: 15px;
    padding: 4px;
}



.card button {
    margin-top: 25px;
    width: 150px;
    height: 32px;
    font-size: 24px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 10px;
    font-family: 'jura', sans-serif;
}

.btn:hover{
    background-color: var(--blue);
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1.05);
}

.carrusel__container {
    display: flex;
    width: 375;
    justify-content: center;
}

.footer__container {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1, 1fr;
    font-size: 1.5rem;
    width: 100%;
    height: 234px;
    background-color: var(--green);
    flex-direction: column;
    justify-items: center;
}

.footer__container .social img {
    margin: 10px;
}

.footer__container .logo {
    background-color: var(--white);
    height: 126px;
    border-radius: 0px 0px 10px 10px;
}

/*plans section*/
.plans {
    margin-top: 100px;
}
.plans .card-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -25px;
    width: 200px;
    min-height: 70px;
    background-color: var(--green);
    border-radius: 10px;
    padding: 10px;
    padding-top: 14px;
}

.plans .card-header .card-title {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 5px;
}

.plans .card-header .card-subtitle {
    font-size: 1.4rem;
    color: var(--white);
}

.card-info {
    margin-top: 40px;
}
.card-info li {
    list-style: none;
    min-height: 20px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    box-shadow:  0 1px 1px rgba(0,0,0,0.12);
}

.card-body  .plans-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: #00602A;
    text-transform: uppercase;
}

.plans-btn:hover {
    cursor: pointer;
    color: var(--blue);
}

.plans .card-arrow {
    position: absolute;
    top: calc(50% - 6px);
    right: 5px;
    z-index: 3;
}
